.bottombar {
    background: var(--birincil-renk);
    color: var(--baslik-rengi);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.b-left a {
    color: var(--baslik-rengi);
    margin-left: 40px;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.b-navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.b-navbar li {
    margin: 0 15px;
}

.b-navbar a {
    color: var(--baslik-rengi);
    font-weight: bold;
}

.b-navbar a:hover {
    text-decoration: underline;
}

.b-right a {
    color: var(--baslik-rengi);
    margin-right: 8px;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

/* Arama Pop'u */
.arama-pop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
        
.arama-container {
    width: 80%;
    max-width: 600px;
    background: var(--kart-rengi);
    padding: 20px;
    border-radius: 5px;
}
        
.arama-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
        
.arama-container button {
    padding: 10px 15px;
    background: var(--birincil-renk);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
        
.arama-kapat {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}