* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --birincil-renk: #3498db;
    --ikincil-renk: #2980b9;
    --yazi-rengi: #333;
    --arkaplan-rengi: #f4f4f4;
    --kart-rengi: white;
    --baslik-rengi: white;
}

.karanlik {
    --birincil-renk: #1a5b87;
    --ikincil-renk: #134b76;
    --yazi-rengi: #f4f4f4;
    --arkaplan-rengi: #222;
    --kart-rengi: #333;
    --baslik-rengi: #f4f4f4;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--yazi-rengi);
    background-color: white;
}

img, video {
    width: 100%;
}

a, a:active, a:link, a::before, a::after {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}